.review-card {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f9f9f9;
    text-align: left;
}

.review-header {
    display: flex;
    align-items: left;
    margin-bottom: 5px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.guest-info {
    display: flex;
    flex-direction: column;
}

.guest-name {
    font-weight: bold;
    font-size: 1rem;
}